.Cont{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ProductCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  background-color: #f5fbfd;
  position: relative;
}
.pic{
  height: 55%;
  max-width: 75%;
  z-index: 2;
}

