.Wrapper{
    display:flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ProductContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    background-color: #f5fbfd;
    position: relative;
    flex-direction: column;
}

.ProductInfo{
    text-decoration: none;
    padding: 1em;
    max-width: 50%;
}

.Image{
   width: 200px;
}

.UserContainer{
    padding: 20px;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

