.Wrapper_reg{
  width: 100vw;
  height: 100vh;
  background-color: #dbe7dc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.RegBox{
  padding: 20px;
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Title{
  font-size: 24px;
  font-weight: 300;
}

.box{
  display: flex;
  flex-wrap: wrap;
}

.Input_reg{
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.btn_reg{
  width: 40%;
  border: 1px solid #b7ccc0;
  padding: 15px 20px;
  background-color: #b7ccc0;
  color: #ffff;
}

